body {
  font-family: Arial;
}

.container {
  display: flex;
  background-color: lightblue;
}

.box {
  background-color: grey;
  height: 50px;
}

/*Two coloumns */
.two-columns {
  gap: 10px;
  padding: 10px;
}

.two-columns .box {
  flex: 1;
}

/*Three equal columns */
.three-equal-columns {
  gap: 15px;
  padding: 15px;
}

.three-equal-columns .box {
  flex: 1;
}

/*Three unequal columns  */
.three-unequal-columns {
  gap: 12px;
  padding: 12px;
}

.three-unequal-columns .box {
  flex: 1;
  border: 2px solid lightblue;
  box-sizing: border-box;
}

/*The first box (double the width)  */
.three-unequal-columns .double {
  flex: 2;
}

/*Four equal columns and a footer */

.four-columns {
  display: flex;
  flex-wrap: wrap;
  margin: 12px;
  padding: 12px;
}

.four-columns .box {
  flex: 1 1 0;
  border: 2px solid lightblue;
  box-sizing: border-box;
}

.footer {
  flex: 100%;
  background-color: grey;
  height: 50px;
  border: 2px solid lightblue;
  box-sizing: border-box;
}
